.s1{
    max-width: 12cm ;
}

.s2 {
  max-width: 29em ;  
}

.s2-1 {
    max-width: 29em ;  
    font-family: 'Courier New', Courier, monospace;
}

.s3 {
  max-width: 54ch ;  
}

.s4 {
  max-width: 29rem ;  
}

.s5 {
  max-width: 29vw ;  
}

.s6 {
  max-width: 29dvw ;  
}