

    
@import url(https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap);
    * {
      margin: 0%;
      padding: 0%;

    }

    

body {
  background-color: antiquewhite;
text-align: center;    
    
   
}





nav { 
  
  line-height: 100px;
  padding-right: 2%;

}

.header-a {
width: 10em;
  color: black;
  font-size: 20px;
    border-style: solid;
  border-color: black;
  padding: 1.1%;
  border-radius: 1em;

margin-left: 30px;
background-color:  rgba(209, 81, 124, 0.38);
}


.header-a:hover {
  font-weight: bold;
  
}

.banner {

  background-image: url(kat.png);
  background-size: cover;
  height: 100vh;

}

.banner:after {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  opacity: .7;
  z-index: -1;


}

.banner h1 {

  color: rgb(209, 81, 124);
  font-size: 180px;
  font-family: "Fugaz One", sans-serif;
  font-weight: bold;
 padding-top: 10%;
  
}

h2 {   color: rgb(209, 81, 124);
  font-size: 3em;
  font-family: "Fugaz One", sans-serif;
  font-weight: bold;}


h1{ 
position: relative;
top: 0;
animation: bounce 0.8s ease infinite alternate;
}

@keyframes bounce {
100% {
top: -.50rem;
}
}



